/* 
	Website Name: Claws - Tom Claus	
	Website URL: http://tomclaus.be - http://claws.be;
	Author: Tom Claus
	Author URI: http://tomclaus.be
	Version: 1.0
*/

#contact .contact-wrap .callme {
	display: none;
}

/* Tablet landscape / low resolution */
@media only screen and (min-width: 870px) and (max-width: 1170px){

	.constraint{width:870px;}
	
	ul.work-items li.last{margin-right:30px;}
	ul.work-items li:nth-child(3n+3){margin-right:0px;}
	ul.work-items li:nth-child(n+7){display:none;}
	#play ul.work-items li:nth-child(n+4){display:none;} 
	
	article p,
	article li{
		font-size:1.5em;
	}
	
	#about .life-stats .days,
	#about .life-stats .percentage{font-size:2.5em;}

	#header .tweet-speech{width:34em;right:-37em;}

	article h1.blog-title{font-size:3em;}
	article h2.blog-title{font-size:3em;}
}



/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 570px) and (max-width: 869px){

	#contact .contact-wrap .callme {
		display: block;
	}

	body{font-size:0.5em;}
	.constraint{width:570px;}

	.about-me-description{
		float:none;
		width:auto;
		text-align:center;
		margin-bottom:100px;
	}
	.skill-chart{display:none;}
	
	#header .introduction{font-size:3em;}
	#header .strapline{font-size:2.5em;}
	
	#about .life-stats .days,
	#about .life-stats .percentage{font-size:2em;}

	ul.work-items li.last{margin-right:0px;}
	ul.work-items li:nth-child(even){margin-right:0px;}
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 569px){

	#about .life-stats{
		display:none;
	}
	.skill-chart{display:none;}
	
	#header .tweet-speech{display:none !important;left:9999px;}
	
	body{font-size:0.5em;}
	.constraint{width:300px;}

	#header .introduction{font-size:2.5em;}
	#header .strapline{font-size:2em;}
	
	#header .strapline{
		margin-bottom:0px;
	}
	#header #navigation ul li{
		display:block;
		width:150px;
	}
	#header #navigation ul li.first a{
		border-top:none;
		border-radius:3px 3px 0px 0px;
		-moz-border-radius:3px 3px 0px 0px;
		-webkit-border-radius:3px 3px 0px 0px;
	} 
	#header #navigation ul li.last a{
		border-radius:0px 0px 0px 3px;
		-moz-border-radius:0px 0px 3px 3px;
		-webkit-border-radius:0px 0px 3px 3px;
	}
	#header #navigation ul li a{
		border-right:none !important;
		border-top:1px solid #d44a34;
	}
	#header #navigation ul li a:hover{
		text-decoration:none;
		position:relative;
		top:2px;
		box-shadow:0px -2px 0px #c6412b;
		-moz-box-shadow:0px -2px 0px #c6412b;
		-webkit-box-shadow:0px -2px 0px #c6412b;
	}
	
	.about-me-description{
		float:none;
		width:auto;
		text-align:center;
		margin:0px;
	}
	
	ul.work-items li{float:none;margin:0 auto !important;margin-bottom:20px !important;}
	
	#progress-bar-container{display:none;}
	.social-icons.floating{display:none;}

	article h1.blog-title{font-size:3em;}
	article h2.blog-title{font-size:2.5em;}
	article img.attachment-post-thumbnail{
		display:none;
	}
	article h1.blog-title,
	article h2.blog-title{
		display:block;
		position:relative;
	}
}